<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create</title>
    <link rel="stylesheet" th:href="@{/style.css}">
  </head>
  <body class="font-align">
    <h1>Upload Code</h1>
    <div>
      <textarea id=code_snippet>...</textarea>
    </div>
    <div>
      <label>Time code is available for:</label>
      <input id="time_restriction" type="text" value="0"/>
    </div>
    <div>
      <label>Number of people that can view the code:</label>
      <input id="views_restriction" type="text" value="0"/>
    </div>
    <div>
      <button id=send_snippet class="button-secondary" type=submit onclick=send()>Submit</button>
    </div>
    <script type=text/javascript>
      function send() {
        let object = {
          code: document.getElementById("code_snippet").value,
          time: document.getElementById("time_restriction").value,
          views: document.getElementById("views_restriction").value
        };

        let json = JSON.stringify(object);

        let xhr = new XMLHttpRequest();
        xhr.open("POST", '/api/code/new', false);
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);

        if (xhr.status == 200) {
          alert("Success!");
        }
      }
    </script>
  </body>
</html>