.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    width: 100px;
    height: 50px;
    font-size: medium;
}
.font-align {
    text-align: center;
    font-family: Arial, sans-serif;
}
div {
    padding: 5px;
}
textarea {
    min-height: 500px;
    min-width: 800px;
}